In [354]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [355]:
# File to Load 
school_data_to_load = 'schools_complete.csv'
student_data_to_load = 'students_complete.csv'

In [356]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)

In [357]:
student_data = pd.read_csv(student_data_to_load)

In [358]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [359]:
# Compile data for District Summary

# Find total number of students and schools in district
totalStudents = len(school_data_complete.index)
totalSchools = len (school_data.index)

# Get a filtered table of passing math students and determine percent who passed
filtered_data = school_data_complete[school_data_complete.math_score >= 70 ]
totalPassMath = len(filtered_data.index)
pctPassMath = totalPassMath/totalStudents * 100

# Get a filtered table of passing reading student and determine percent who passed
filtered_data = school_data_complete[school_data_complete.reading_score >= 70 ]
totalPassReading = len(filtered_data.index)
pctPassRead = totalPassReading/totalStudents * 100

# Find percentage of students district wide who passed
avgMath = school_data_complete['math_score'].mean()
avgRead = school_data_complete['reading_score'].mean()
pctPass = ( avgMath + avgRead) / 2

# Find the total budget spent district wide
budgetSum = school_data['budget'].sum()

In [360]:
# Make District Summary table with values obtained above
school_summary = pd.DataFrame({"Total Schools":[totalSchools],
                               "Total Students":[totalStudents],
                               "Total Budget":[budgetSum],
                               "Average Math Score":[avgMath],
                               "Average Read Score":[avgRead],
                               "% Pass Math":[pctPassMath],
                               "% Pass Reading":[pctPassRead],
                               "Overall Passing Rate":[pctPass]
                             })

school_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Read Score,% Pass Math,% Pass Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [361]:
# Define Key Metrics for a School Summary and place into list

listOfSchoolData = []
for school in student_data["school_name"].unique():
    # Create table of just students from each school
    filtered_data = school_data_complete[school_data_complete['school_name'].str.match(school)]
    # Determine how many student passed math and reading
    pass_math_students = len(filtered_data[filtered_data['math_score'] >= 70].index)
    pass_read_students = len(filtered_data[filtered_data['reading_score'] >= 70].index)
    # Find the budget, number of students and type for the school
    budget = filtered_data['budget'].iloc[0]
    numStudents = len(filtered_data.index)
    schoolType = filtered_data['type'].iloc[0]
    # Determine average math and reading scores for the school
    avgM = filtered_data['math_score'].mean()
    avgR = filtered_data['reading_score'].mean()
    # Determine the passing percentage for the school for math, reading, and total
    pctM = (pass_math_students / numStudents ) * 100
    pctR = (pass_read_students / numStudents ) * 100
    pctTotal = (pctM + pctR) / 2
    # Calculate the budget allocated per student for the school
    budgetPerStudent = '${:,.2f}'.format(budget/numStudents)
    # Add all key metrics for the school to a list as a tuple
    listOfSchoolData.append((school,schoolType,numStudents,'${:,.2f}'.format(budget),budgetPerStudent,avgM,avgR,pctM,pctR,pctTotal))

In [362]:
# Use school data list to make a Dataframe of Top Preforming Schools
# Sort the list by percent passing in reverse order
listOfSchoolData.sort(key=lambda elem: elem[9], reverse=True)
# Create the DataFrame from just the first 5 elements of the reverse sorted school data list
TopSchools = pd.DataFrame(listOfSchoolData[:5],
                           columns = ["",
                           "School Type",
                           "Total Students",
                           "Budget",
                           "Per Student Budget",
                           "Average Math Score",
                           "Average Read Score",
                           "% Pass Math",
                           "% Pass Reading",
                           "Overall Passing Rate" ]
                         )

# Print the DataFrame
TopSchools

,,School Type,Total Students,Budget,Per Student Budget,Average Math Score,Average Read Score,% Pass Math,% Pass Reading,Overall Passing Rate
0,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
1,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
2,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
3,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
4,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [363]:
# Use school data list to make a Dataframe of Bottom Preforming Schools
# Sort the list by percent passing
listOfSchoolData.sort(key=lambda elem: elem[9])
# Create the DataFrame from just the first 5 elements of the sorted school data list
BottomSchools = pd.DataFrame(listOfSchoolData[:5],
                           columns = ["",
                           "School Type",
                           "Total Students",
                           "Budget",
                           "Per Student Budget",
                           "Average Math Score",
                           "Average Read Score",
                           "% Pass Math",
                           "% Pass Reading",
                           "Overall Passing Rate" ]
                         )
# Print the DataFrame
BottomSchools

,,School Type,Total Students,Budget,Per Student Budget,Average Math Score,Average Read Score,% Pass Math,% Pass Reading,Overall Passing Rate
0,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
2,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
3,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
4,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308